{% include 'header.html'%}
<div class="container text-center  mt-5 ">
    <h1>About page</h1>
    <div class="mt-5">
     <p>
        Our polling project allows users to create and participate in polls on various topics. Whether you're
        interested in gathering opinions, making decisions, or simply engaging with others, our platform provides
        a convenient way to create and vote on polls.
    </p>
    <p>
        Explore the polls created by our community or create your own poll to share with others. Let your voice
        be heard and contribute to the collective wisdom of our community.
    </p>

    </div>
</div>
{% include 'footer.html'%}