{% include "header.html" %}
    <div class="container">
        <div class="row card-container">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title text-center">Register User</h1>
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="first">First Name:</label>
                                <input type="text" class="form-control" id="first" name="first_name" required>
                            </div>
                            <div class="form-group">
                                <label for="last">Last Name:</label>
                                <input type="text" class="form-control" id="last" name="last_name" required>
                            </div>
                            <div class="form-group">
                                <label for="username">Username:</label>
                                <input type="text" class="form-control" id="username" name="username" required>
                            </div>
                             <div class="form-group">
                                <label for="email">Username:</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <div class="form-group">
                                <label for="cpassword">Confirm Password:</label>
                                <input type="password" class="form-control" id="cpassword" name="cpassword" required>
                            </div>
                            <button type="submit" class="btn btn-primary mt-3">Register</button>
                            <p>Have you an account already ?<a href="{% url 'accounts:login' %}">Please login!</a></p>
                             <p><a href="{% url 'accounts:home' %}">Back to home page</a> </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if message %}
<script>
    alert("{{ message }}");
</script>
{% endif %}

{% include "footer.html" %}
